
<div class="my-4 header mx-4">
  <div class="d-flex flex-sm-row flex-column justify-content-between align-items-center">
      <div class="row justify-content-center">
          <div class="col-auto">
              <a href="{{ .Site.BaseURL }}">
                  <h1 class="name" style="font-size: 1.25rem;">{{ .Site.Params.sitename }}</h1>
              </a>
          </div>
      </div>

      <div class="row justify-content-center">  
        {{ range .Site.Menus.primary.ByWeight }}
        <div>
            <a style="color: rgba(36,31,71,0.8);" class="nav-link{{ if .Identifier }} text-{{ .Identifier }}{{ end }}" href="{{ .URL }}">
                {{ .Pre }}
                {{ .Name }}
            </a>
        </div>
        {{ end }}
      </div>
  </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.18.0/inter.css" integrity="sha512-2ScEqx8oE365TaMpvEhzeFgNndX303Y62SJfTqJ7xeBUS7FV86//D1MAKOjCglApnQMteDSQzn+HqYFIFeNJrw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    body {
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        color: rgb(26, 32, 44);
        background: rgb(255, 255, 255);
        transition: background-color 0.2s ease 0s;
        line-height: 1.5;
    }

    .content .markdown {
        font-weight: 400;
        font-size: 1.1rem;
        color: rgb(26, 32, 44);
        line-height: 1.5rem;
    }
</style>